.main-content {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	min-height: 100%;
	margin-top: 60px;
	margin: 33px;

	/* Header CSS */
	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	h1 {
		font-size: 4em;
		letter-spacing: -2px;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 2.25em;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-weight: normal;
		color: #000000;
	}

	h3 {
		font-size: 1.80em;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-weight: normal;
	}


	/* Paragraph CSS */
	p {
		font-size: 1.2em;
		line-height: 1.75em;
	}

	ul {
		li {
			font-size: 1.2em;
			line-height: 1.75em;
		}
	}

	img {
		max-width: 100%;

		height: auto;
    width: auto\9; /* ie8 */

		max-height: 500px;

    border: 1px solid #B4C2C2;
    border-radius: 8px;
		margin: 0 auto;
		display: block;
	}
}
