.post-header {
	h1, h3 {
		margin: 0px !important; // Overriding Bulma here.
	}
	p {
		margin-bottom: 20px;
	}
}

.post-content {
	h1 {
		font-size: 3em;
		letter-spacing: 0px;
	}

	h2 {
		font-size: 2em;
		letter-spacing: 0px;
	}

	h3 {
		font-size: 1.75em;
		letter-spacing: 0px;
	}

	h4 {
		font-size: 1.5em;
		letter-spacing: 0px;	
  }
  
  p {
    font-size: 1.2em; 
	}
	
	li, ol {
		font-size: 1.1em;
	}
}

.tag-section {
	width: 150px;
}

.comment-section {
	text-align: center;
	p {
		font-size: 1.1em;

	}

	b {
		font-weight: 550;
	}
}

.tag-list {
	button {
		margin-top: 10px;
	}
}


.result-message-warning {
	background-color: lightcoral;
	border: 1px black solid;
	border-radius: 6px;
	margin: 0px 10px;
	padding: 10px;
}

.result-message-success {
	background-color: lightgreen;
	border: 1px black solid;
	border-radius: 6px;
	margin: 0px 10px;
	padding: 10px;
}

#error_exdivlanation {
	background-color: #F596A6;
	border: 1px solid black;
	border-radius: 6px;

	h2 {
		padding: 10px;
		margin-bottom: 10px;
	}

	ul {
		padding: 10px;
		margin-left: 20px;
		list-style: circle;
		li {

		}
	}
}