/* User Profile CSS */
.edit-profile,
.sign-up,
.inquiry-form,
.sign-in {
  margin: 0px 20%;
}
.edit-profile a,
.sign-up a,
.inquiry-form a,
.sign-in a {
  margin-bottom: 10px;
}
.cancel input {
  margin-bottom: 5px;
}
