.page-form {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
.page-form #page_title {
  width: 816px;
}
.page-form #cke_1_contents {
  height: 600px !important;
}
.inquiry-page {
  margin: 0px 10%;
}
