/* Blog Post CSS */
.post {
  border-bottom: 1px solid #e3e5ec;
}
.post .post-content {
  margin: 0px 5px;
}
.post .preview-btn {
  margin-bottom: 10px;
}
.blog-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.blog-btn a {
  font-size: 18px;
}
.post-preview {
  margin-left: 15%;
  margin-right: 15%;
}
.post-form {
  margin-left: 10%;
  margin-right: 10%;
}
.post-form #cke_1_contents {
  height: 600px !important;
}
.comments-section .comment {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 500px;
  length: 300px;
}
.comments-section .comment p {
  font-style: italic;
  margin-left: 20px;
  margin-right: 0px;
}
.comments-section .comment h4 {
  text-align: left;
  margin-left: 10px;
}
.comments-section .comment .comment-functions {
  text-align: right;
}
.comment-form .comment-head img,
.comment-form .comment-head h3 {
  margin-left: 12%;
  margin-right: 12%;
}
.comment-form .comment-body {
  min-height: 150px;
  margin-bottom: 10px;
}
.readmore a {
  font-size: 18px;
}
.bottom-nav {
  margin-top: 20px;
}
