/* Blog Post CSS */
/* line 9, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.posts-index table {
  border-collapse: collapse;
  width: 100%;
}
/* line 13, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.posts-index th, .posts-index td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
/* line 18, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.posts-index tbody tr:nth-child(odd) {
  background: #eee;
}

/* line 23, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post-preview {
  margin-left: 15%;
  margin-right: 15%;
}
/* line 26, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post-preview img {
  width: 200px;
  height: 200px;
}

/* line 32, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.pages {
  margin-left: 30%;
  margin-right: 30%;
}

/* line 37, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post-form {
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}
/* line 46, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post-form #post_title {
  width: 800px;
}
/* line 51, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post-form #cke_1_contents {
  height: 600px !important;
}

/* line 57, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.post p {
  display: block;
  font-size: 1.2em;
}

/* line 65, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comments-section .comment {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 500px;
  length: 300px;
}
/* line 70, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comments-section .comment p {
  font-style: italic;
  margin-left: 20px;
  margin-right: 0px;
}
/* line 75, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comments-section .comment h4 {
  text-align: left;
  margin-left: 10px;
}
/* line 79, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comments-section .comment .comment-functions {
  text-align: right;
}

/* line 87, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.readmore a {
  font-size: 18px;
}

/* line 92, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comment-form {
  margin-right: 15%;
  display: block;
}
/* line 100, /Users/taylor/Desktop/Coding/rails/everythingisruby/app/assets/stylesheets/posts.css.scss */
.comment-form textarea {
  resize: vertical;
  height: 200px;
  width: 600px;
  border-radius: 8px;
}
