.feedback-form {
  width: 60%;
  margin: 0 auto;

  .rating-form {

    .input-group {
      button {
        width: 50px;
        height: 50px;
        margin: 10px;
  
        border-radius: 4px;
        font-size: 1.3em;
      }
  
      .highlighted-yellow {
        background-color: yellow;
      }

      .highlighted-red {
        background-color: lightcoral;
      }

      .highlighted-green {
        background-color: lightgreen;
      }
      
    }
  }
  
  .feedback-form {
    h4 {
      margin-top: 5px;
      font-size: 1.3em;
    }
  
    textarea {
      margin-top: 10px;
      font-size: 1.1em;
      width: 85%;
      max-width: 85%;
      height: 7em;
      border-radius: 4px;
      padding: 5px;
    }
  }
  
  .submit-button {
    font-size: 1.3em;
    border-radius: 4px;
  }
}