<div class="notification-banner">
    <% if notice %>
        <p class="notification is-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="notification is-warning"><%= alert %></p>
    <% end %>
</div>
