<div class="page">
	<h2 class="text-center"><%= @page.title %></h2>
	<p><%= simple_format @page.content %></p>
</div>

<div class="bottom-nav text-center">
	<% if can? :update, @page %>
		<button type="button" class="btn btn-default"><%= link_to 'Edit Page', edit_page_path(@page) %></button>
	<% end %>
</div>