<h1>Resume</h1>
<div class="Resume-Wrapper">
	<div class="Projects">
		<h2>Projects</h2>
			<uL>
				<li>Medical System - ASP.NET / C#</li>
				<li>EverythingIsRuby - Source Code For This Site - Ruby</li>
				<li>Jawbreaker - Code Analysis Engine - Ruby</li>
			</uL>
	</div>

	<div class="Employement">
		<h2>Employment</h2>
			<ul>
				<li>AQ2 Technologies</li>
				<li>Freelance Web Design</li>
			</ul>
	</div>

	<div class="Links">
		<h2>Links</h2>
			<ul>
				<li>Github</li>
				<li>LinkedIn</li>
				<li>Email</li>
			</ul>
	</div>
</div>
