
<div class="about container-fluid">
	
	<div class="row extra-info">
		<div class="col-md-4 topics">
			<h2>Blog Topics</h2>
			<ul>
				<li>Web Design</li>
				<li>Life In The Tech Industry</li>
				<li>Management and Methodology</li>
			</ul>
		</div>

		<div class="col-md-4 resources">
			<h2>Reccomended Resources</h2>
			<ul>
				<li><a href="http://blog.codinghorror.com">Coding Horror</a></li>
				<li><a href="http://rubyrogues.com">Ruby Rogues</a></li>
			</ul>
		</div>

		<div class="col-md-4 contributors">
			<h2>Contributors</h2>
			<li>Taylor Jones - Site Creator</li>
		</div>
	</div>
</div>