<div class="about-page content">
  <h2>Hi there</h2>

  <p>My name is Taylor Jones. Its really great to meet you.</p>
  <p>
    I've worked at a few places over the past couple of years. Most notably, I'm 
    currently working for Heroku as a Support Engineer. Its really awesome. 
  </p>
  <p>
    Before that I worked at a few small companies and another place that loves purple called 
    IZEA. They were also pretty cool. If you're more interested in a formal CV, you can look at my LinkedIn - icon at the bottom on the site.
  </p>

  <h2>About My Writing Style</h2>

  <p>I want to lay out a few basic ideas around my writing to help provide some better context around what 
  you're looking at here.</p>

  <h3>I Have Opinions. They're Only Mine, Though</h3>

  <p>
    A lot of blogs have this section. A lot of times, its just a legal disclaimer. I do want to emphasize
    that the things written on this site aren't that of any past or current employers. They're just me.
  </p>

  <p>
    I do want to take this idea a bit further and say that I really hope that you dig what's written here. Yet,
    realize you can produce something just as good. I've got a perspective and opinon about a whole bunch of things,
    but you do too! Share you voice. I bet you can write something even better than me
  </p>

  <h3>Names and Pronouns Are At Random</h3>

  <p>
    I believe that how we tell our stories matter. I want as many people as possible to be able to relate to a
    story or idea that I'm trying to communicate. For one, this means that I'll both be using a variety of pronouns 
    to describe people or scenarios. Let me know if you feel that its a bit off balance. 
  </p>

  <p>
    It's also worth saying that the names used in my pieces are made up at random. Certain people definitely inspire
    personaility traits of these characters, but I'm not going to directly call people out for being good or bad.
  </p>

  <h3></h3>
</div>
