<div class="most-recent">
	<% @posts.each do |post| %>
		<%= render 'posts/full_post', post: post %>
	<% end %>
	
	<div class="has-text-centered">
		<%= link_to "More Posts", blog_path, class: "button" %>
	</div>
</div>
