<div class="most-recent post">
	<% @posts = Post.order("created_at desc").limit(2) %>
	<% @posts.each do |post| %>
		<div class="post">

			<h2 class="text-center"><%= post.title %></h2>
			<%= image_tag post.title_image.url(:full), :class => "img-responseive center-block" %>
			<p class="center-block"><%= simple_format post.text %></p>

			<div class="preview-btn text-center">
				<button type="button" class="btn btn-default readmore">
					<%=link_to 'Read More', post_path(post) %>
				</button>
			</div>

		</div>
	<% end %>
</div>