<h1>Everything Is Collateral</h1>

<div class="The-Hokey_Pokey">
	<h2>What's This All About?</h2>
	<p>Currently, this is the website and blog of Taylor Jones, an US-Based programmer documenting and detailing his thoughts on the tech industry. Sometimes other people smarter than him (READ: Most) come and offer some deep opinions and perspectives on things. Hopefully something on here will click with you.</p>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h2>Blog Topics</h2>
			<ul>
				<li>Ruby and Rails</li>
				<li>ASP.NET</li>
				<li>C#</li>
				<li>Life In The Tech Industry</li>
				<li>Management and Methodology</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>Reccomended Resources</h2>
			<ul>
				<li>Item 1</li>
				<li>Item 2</li>
				<li>Item 3</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h2>Current Interests</h2>
		</div>
	</div>
</div>