<div class="most-recent">
	<% @posts = Post.order("created_at desc").limit(1) %>
	<% @posts.each do |post| %>
		<div class="post">
			<h2><%= post.title %></h2>
			<%= image_tag(post.img) %>
			<p><%= simple_format post.text %></p>
			<br/>
		</div>
		<%=link_to 'Read More', post_path(post) %>
	<% end %>
</div>