<div class="frontpage">
	<%= image_tag("atl.jpg", :alt => "atl") %>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<h3>What's New</h3>
			<ul>
				<li>BRAND NEW</li>
				<li>Super shiny post</li>
				<li>New Car Smell</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>What's Popular</h3>
			<ul>
				<li>Innovative Idea</li>
				<li>Groundbreaking</li>
				<li>Discussion</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3>What's Controversial</h3>
			<ul>
				<li>Person is wrong</li>
				<li>Person is right</li>
				<li>The Internet sux</li>
			</ul>
		</div>
	</div>
</div>