.most-recent
	- @posts.each do |post|
		.post
			.text-center.post-header
				= link_to post.title, post_path(post), :class => "post-link"
				- @time = post.created_at
				%h4.text-center
					Written by
					%b Taylor Jones
					on
					%b
						=@time.strftime("%m/%d/%Y")

			.post-content.center-block
				=markdown post.body

.blog-btn.text-center
	%button{:type => "button", :class => "btn btn-default"}
		= link_to 'More Posts', blog_path
