<div class="most-recent">
	<% @posts.each do |post| %>
		<div class="content post-preview">
			<div class="post-header has-text-centered">
				<h1><%= link_to post.title, post_path(post), class: "post-link" %></h1>
				<% @time = post.created_at %>
				<p class="author-information has-text-centered">
					Written by <b>Taylor Jones</b> on <b><%= @time.strftime("%d/%d/%Y") %></b>
				</p>
			</div>
			<div class="post-content center-block">
				<%= markdown post.body %>
			</div>
		</div>
	<% end %>
	<div class="has-text-centered">
		<%= link_to "More Posts", blog_path, class: "button" %>
	</div>
</div>
