<h1>About Taylor Jones</h1>
<div></div>
<div class="resume-wrapper">
	<h1>Resume</h1>
	<div class="Projects">
		<h2>Projects</h2>
			<uL>
				<li>Medical System - Medical Staff Management Mockup - ASP.NET / C# </li>
					<a href="https://github.com/CodedBeardedSignedTaylor/MedicalSystem">Github</a>
				<li>EverythingIsRuby - Source Code For This Site - Ruby </li>
					<a href="https://github.com/CodedBeardedSignedTaylor/EverythingIsRuby">Github</a>
				<li>Hours Tracker - Command Line Productivity - Ruby </li>
					<a href="https://github.com/CodedBeardedSignedTaylor/Hours-Tracker">Github</a>
			</uL>
	</div>

	<div class="Employement">
		<h2>Employment</h2>
		<ul>
			<h3>AQ2 Technologies <i>(January 2013 - August 2014)</i></h3>
			<li>Prominent remintance software producer out of Birmingham, AL</li>
			<li>Specialized in QA, Development, and Implementation of all products.</li>
			<li>Website: wwww.aq2tech.com</li>
		</ul>
		<ul>
			<h3>Freelance Web Design <i>(Janurary 2013 - Present)</i></h3>
			<li>Corresponded efficiently and effectively with clients</li>
			<li>Built full and robust application in Wordpress, Rails, and HTML</li>
			<li>Current taking on clients.</li>
		</ul>
	</div>

	<div class="Education">
		<h2>Education</h2>
		<uL>
			<h3>Auburn University - <i>(August 2010 - May 2015)</i></h3>
			<li>Major: Computer Science</li>
			<li>Minor: Business</li>
		</uL>
	</div>

	<div class="Links">
		<h2>Links</h2>
			<ul>
				<li><a href="www.github.com/codedbeardedsignedtaylor">Github</a></li>
				<li><a href="http://lnkd.in/b5h3XGJ">LinkedIn</a></li>
				<li><a href="">Email</a></li>
			</ul>
	</div>
</div>