<div class="about-taylor">
	<h1>Who is Taylor Jones?</h1>
	<h2>Origins</h2>
	<p>
		Born in Atlanta and raised in Birmingham and raised in the Dirty South, I grew up in a culture of music, art, and science. This combination might seem weird to most, however its what makes me different from most people in the software padigram.
	</p>
	<p>
		I talk and write frequently on the 
	</p>
</div>


<div class="resume-wrapper">
		<h1>Resume</h1>
		<h2>Projects</h2>
		<div class="Projects row">
			<uL>
				<li>Medical System - Medical Staff Management Mockup - ASP.NET / C# 
					<a href="https://github.com/CodedBeardedSignedTaylor/MedicalSystem">Github</a>
				</li>
				<li>EverythingIsRuby - Source Code For This Site - Ruby
					<a href="https://github.com/CodedBeardedSignedTaylor/EverythingIsRuby">Github</a>
				</li>
				<li>Hours Tracker - Command Line Productivity - Ruby
					<a href="https://github.com/CodedBeardedSignedTaylor/Hours-Tracker">Github</a>
				</li>
			</uL>
		</div>

		<h2>Employment</h2>
		<div class="employement row">
			<div class="row">
				<h3 class="pull-left">AQ2 Technologies</h3>
				<h3 class="pull-right"><i>(January 2013 - August 2014)</i></h3>
			</div>
			<div class="row">
				<ul>
					<li>Prominent remintance software producer out of Birmingham, AL</li>
					<li>Specialized in QA, Development, and Implementation of all products.</li>
					<li><%= link_to 'Website', 'http://aq2tech.com' </li>
				</ul>
			</div>
			<div class="row">
				<h3 class="pull-left">Freelance Web Design</h3>
				<h3 class="pull-right"><i>(Janurary 2013 - Present)</i></h3>
			</div>
			<div class="row">
				<ul>
					<li>Corresponded efficiently and effectively with clients</li>
					<li>Built full and robust application in Wordpress, Rails, and HTML</li>
					<li>Current taking on clients.</li>
				</ul>
			</div>
		</div>

		<h2>Education</h2>
		<div class="row">
			<h3 class="pull-left">Auburn University</h3>
			<h3 class="pull-right"><i>(August 2010 - May 2015)</i></h3>
		</div>
		<div class="row">
			<uL>
				<li>Major: Computer Science</li>
				<li>Minor: Business</li>
			</uL>
		</div>

		<h4 class="text-center">Links</h4>
		<div class="links row text-center">
			<a class="text-left" href="www.github.com/codedbeardedsignedtaylor">Github</a>
			<a class="text-center" href="http://lnkd.in/b5h3XGJ">LinkedIn</a>
			<a class="text-right" href="">Email</a>
			</ul>
		</div>
</div>