<div>
	<div class="row">
		<h2>What's This All About?</h2> 
		<p>
			Everything Is Collateral seems like a pompous and dangerous phrase. Yet, the meaning behind it is very simple:
			Everything we create as human beings (whether public or private) is putting ourselves out there. In every job 
			or artform, what we create is somewhat like collateral. Our work is always on the line and steps away from being taken
			from us. 
		</p>
		<p>
			Now, while this may seem like the ultimate buzzkill, my point is much deeper. We've got to fight to pay our debts,
			clear our names, and innovate the future. Our work has a much bigger purpose that just revenue. Its a signature 
			and landmark to those who built it. Every day, we should be sitting down to not just exist, but fight for innovation.
			The collateral is our art, and the debtor is the world around us. They've given us a chance to prove ourselves. 
			Will we faulter? Or will we succeed and escape repossesion? 
		</p>
		<p>
			I by no means, have this fight and journey figured out. I'll often change by opinions and publically make mistakes
			on this platform. What I desire to be known for is motivating programmers, artists, designers, and management to 
			not only innovate, but to fight for their presence in the world. Hopefully, I won't be the only one speaking on these
			matters. I also want the readers of this site to have a say as well. That's why I've implemented a user-based commenting system.
			Its certainly within its infant stages, but I assure you that it will grow. 
		</p>
	</div>

	<div class="row">
		<h2>Who Writes This Silly Thing?</h2>
		<p>My name is Taylor Jones, and I design the web.</p>
		<p>Or at least I try to.</p>
		<p>
			I was born in Atlanta and raised in Birmingham, Alabama. This might seem like somewhat of a downgrade to people who have never been to Birmingham. I'll freely admit that Birmingham used to be pretty plain culturally. However, over the past couple of years, things have begun to really change. 
		</p>
		<p>
			I take no credit or responsibility in this whole 
		</p>
	</div>

	<div class="row text-center">
		<a href="https://twitter.com/hiimtaylorjones"><%= fa_icon "twitter 3x" %></a>
		<a href=""><%= fa_icon "linkedin 3x" %></a>
		<a href="https://github.com/codedbeardedsignedtaylor"><%= fa_icon "github 3x" %></a>
	</div>
</div>