
<div class="page">
	<h2 class="text-center"><%= @page.title %></h2>
	<%= markdown @page.content %>
</div>

<div class="bottom-nav text-center">
	<button type="button" class="btn btn-default">
		<%= link_to 'Back', pages_path %>
	</button>
	<% if can? :update, @page %>
		| <button type="button" class="btn btn-default"><%= link_to 'Edit Page', edit_page_path(@page) %></button>
	<% end %>
</div>