.post-container {
  display: flex;

  .post-form {
    width: 100%;
    .input-section {
      margin-bottom: 2%;

      .input-field, .input-textarea {
        width: 100%;
        border-radius: 1%;
      }

      .input-field {
        font-size: 1.2em;
      }

      .input-textarea {
        font-size: 1.1em;
      }
    }

    .submit-button-holder {
      text-align: center;
      .submit-button {
        font-size: 1.4em;
        border-radius: 5%;
      }
    }
  }

}

