# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2903215daa08aff1fc177f86238a9a20871ddd129c2a248e845c38cb3938da7d7cd786dc9c88ae657d48df3185386bb7bdb53a7e01869156684de41cb9867d1d

test:
  secret_key_base: 146f79cecab599f43d8ebf72dd6ea3a8353238675fe380beba63d8cdded6a706f8c9b35194655cec1c46d3b0b41ae628c5abefccacbb7abb5c427fbf1ba66242

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
