<footer class="footer">
	<div class="links">
		<a href="https://linkedin.com/pub/taylor-jones/73/94b/99/"><i class="fa fa-linkedin fa-2x"></i></a>
	  <a href="https://github.com/hiimtaylorjones"><i class="fa fa-github fa-2x"></i></a>
		<p>Collateral Software - <%= Time.now.year %></p>
	</div>
</footer>
