<div class="content-divider"></div>

<div class="comment-section">
  <% if @post.commenting_enabled? %>
    <% if @not_linkable == true %>
			<div id="react-comment-section">
				<%= react_component('PostRating', post_id: @post.id) %>
				<%= stylesheet_pack_tag('PostRating') %>
			</div>
		<% end %>
  <% else %>
    <p><b>We're Currently Not Fielding Conversation Around This Post Right Now</b></p>
    <p>Check back later if you're interested in contributing to the conversation.</p>
    <p>You can always tweet at <b><%= link_to "@hiimtaylorjones", "https://twitter.com/hiimtaylorjones" %></b> if you're really got something burning to say!</p>
  <% end %>
</div>