<% @posts.each do |post| %>
	<%= render 'posts/full_post', post: post%>
	<div class="content-divider"></div>
<% end %>

<% if @page != 1 %>
	<button class="button">Show Older</button>
<% end %>

<% if !@at_last_page %>
	<button class="button">Show Newer</button>
<% end %>