<% @posts.each do |post| %>
<div class="post">
	<h2><%= post.title %></h2>
	<%= image_tag(post.img) %>
	<p><%= simple_format post.tagline %></p>
	<br/>
	<p><%= link_to 'Read More', post_path(post) %>
</div>
<% end %>