// Colors
$color-primary: royalblue;
$color-white: #fff;
$color-text: #000;
$color-admin: green;

// Borders
$border-standard: 2px solid black;

// Typography
$font-family-base: "Roboto Condensed", sans-serif;
