// Colors
$color-primary: royalblue;
$color-white: #fff;
$color-text: #000;
$color-admin: green;
$color-warning: #e6a817;
$color-danger: #c0392b;

// Borders
$border-standard: 2px solid black;

// Typography
$font-family-base: "Roboto Condensed", sans-serif;
