.comment, .response {
  border: 1px solid #e3e5ec;
  border-radius: 6px;

  margin-bottom: 10px;

  h3 {
    margin-left: 10px;
  }

  h4 {
    margin-left: 10px;
  }
}

.comment-form-admin {
	margin-left: 10%;
	margin-right: 10%;
}

.comments-section {
	border-top: 1px solid #e3e5ec;
	border-bottom: 1px solid #e3e5ec;
}
