@import 'bootstrap';

html {
	min-height: 100%;
	overflow-y: scroll;
}

/* 
 * The following CSS deals with general rules and not specific classes. They may be overridden
 * by the class references towards the bottom of the page. 
 */
.content {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
	min-height: 100%;
	padding-top: 10px;
	
	width: 1080px;

	/* Header CSS */
	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	h1 {
		font-size: 3em;
		letter-spacing: -2px;
		margin-bottom: 30px;
		text-align: center;
	}

	h2 {
		font-size: 1.8em;
		letter-spacing: -1px;
		margin-bottom: 30px;
		font-weight: normal;
		color: #000000;
	}

	h3 {
		font-size: 1.4em;
		letter-spacing: -1px;
		margin-bottom: 30px;
		font-weight: normal;
		color: #999;
	}


	/* Paragraph CSS */
	p {
		font-size: 1.1em;
		line-height: 1.7em;
		padding-right: 40px;
	}

	section {
		overflow: auto;
	}

	img {
		max-width: 100%;
    	height: auto;
    	width: auto\9; /* ie8 */
    	border-radius: 8px;
	}

	/* Footer */
	footer {
		margin-top: 10px;
		padding-top: 5px;
		border-top: 1px solid #A0A0A0;
		width: 1020px;
		color: #999;

		a {
			color: #555;
	    	&:hover {
				float: left;
				color: #222;
			}
		}
		small {
			float: left;
		}

		ul {
			float: right;
			list-style: none;
			li {
				float: left;
				margin-left: 10px;
			}
		}
	}
}


#dialog {
	display: hidden;
}

.container {
	width: 1050px;
}


/* Navigation CSS */

.navbar {
	margin-bottom: 5px;
}

.navbar-right li{
	display: inline-block;
	a {
		font-size: 1.3em;
		color: #fff;
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		line-height: 1;
	}
}

.logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	line-height: 1;
	&:hover{
		color: #fff;
		text-decoration: none;
	}
}

