html {
	min-height: 100%;
	overflow-y: scroll;
}

/*
 * The following CSS deals with general rules and not specific classes. They may be overridden
 * by the class references towards the bottom of the page.
 */

.nav {
	background-color: rgb(71, 189, 226);
	.logo {
		font-family: 'PT Sans', sans-serif;
		font-size: 1.7em;
		color: #fff !important;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
	}

	.nav-content {
		margin: 10px;
	}

	.nav-menu {

		.nav-item {
			font-family: 'PT Sans', sans-serif;
			font-size: 1.4em;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: bold;
		}
	}

	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.admin-banner {
	font-size: 1.2em;
	background-color: black;
	.admin-action {
		color: white;
		font-size: 1.2em;
		margin-right: 20px;
	}
}

.main-content {
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	min-height: 100%;
	margin-top: 60px;
	margin: 33px;

	/* Header CSS */
	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}

	h1 {
		font-size: 4em;
		letter-spacing: -2px;
		margin-bottom: 30px;
	}

	h2 {
		font-size: 2.25em;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-weight: normal;
		color: #000000;
	}

	h3 {
		font-size: 1.80em;
		letter-spacing: -1px;
		margin-bottom: 20px;
		font-weight: normal;
	}


	/* Paragraph CSS */
	p {
		font-size: 1.2em;
		line-height: 1.75em;
	}

	ul {
		li {
			font-size: 1.2em;
			line-height: 1.75em;
		}
	}

	img {
		max-width: 100%;

		height: auto;
    width: auto\9; /* ie8 */

		max-height: 500px;

    border: 1px solid #B4C2C2;
    border-radius: 8px;
		margin: 0 auto;
		display: block;
	}

	/* Footer */
	footer {
		padding-top: 20px;
		margin-top: 10px;
		border-top: 1px solid #A0A0A0;
	}
}

pre {
	font-size: 18px;
}

.content-divider {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

.notification-banner {
	width: 70%;
	border: 1px black;
	border-radius: 4px;
	margin: 0% auto;
	margin-bottom: 20px;

	p {
		text-align: center;
	}
}

.nav {
	.nav-item {
		margin: 0px 5px;
	}
}

