// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/
.inquiry-form {
  margin-left: 15%;
  margin-right: 15%;
}
