.nav {
	height: 10vh;
	background-color: royalblue;
	
	.logo {
		font-size: 1.7em;
		color: #fff !important;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		margin-left: 20px;
	}

	.nav-logo {
		width: 40%;
	}

	.nav-spacer {
		width: 40%;
	}

	.nav-menu {
		width: 20%;
		.nav-item {
			font-size: 1.4em;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: bold;
			list-style: none;

			margin-left: auto;
			margin-right: auto;
		}
	}

	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.footer {
	height: 10vh;
	text-align: center;
  background-color: royalblue;
  .links {
    padding-top: 10px;
    a, p {
      color: #fff;
    }
  }

	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.admin-banner {
	font-size: 1.2em;
	background-color: green;
	.admin-action {
		color: white;
		font-size: 1.2em;
		margin-right: 20px;
	}
}