// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Blog Post CSS */


.post {

	.post-content {
		max-width: 1070px;
	}

	.preview-btn {
		margin-bottom: 10px;
	}

	border-bottom: 1px solid #e3e5ec;
}

.blog-btn {
	margin-top: 10px;
	margin-bottom: 10px;

	a {
		font-size: 18px;
	}
}

.post-preview {
	margin-left: 15%;
	margin-right: 15%;
}

.post-form, .page-form {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;

	textarea {
		min-height: 500px;
	}

	input[type="submit"] {
		margin-top: 10px;
	}
}

.comments-section {

	.comment {
		border: 2px solid #ccc;
		border-radius: 8px;
		width: 500px;
		length: 300px;

		p {
			font-style: italic;
			margin-left: 20px;
			margin-right: 0px;
		}

		h4 {
			text-align: left;
			margin-left: 10px;
		}
		.comment-functions {
			text-align: right;
		}
	}
}

.comment-form {
	.comment-head {
		img, h3 {
			margin-left: 12%;
			margin-right: 12%;
		}
	}

	.comment-body {
		min-height: 150px;
		margin-bottom: 10px;
	}
}

.readmore {
	a {
		font-size: 18px;
	}
}


.bottom-nav {
	margin-top: 20px;
}