html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.main-content {
  height: 80vh;

  .wide-2 {
    width: 20%;
  }

  .wide-6 {
    width: 60%;
  }

  h1 {
    text-align: center;
  }
}

h1, h2, h3, h4, h5, p, a {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
		line-height: 1;
}

h1 {
  font-size: 4em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.25em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: #000000;
}

h3 {
  font-size: 1.80em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
}


/* Paragraph CSS */
p {
  font-size: 1.2em;
  line-height: 1.75em;
}