<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html;' charset='UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to the EverythingIsCollateral Community!</h1>
		<p>
			Thank you so much for signing up for the community here. I look forward to the healthy interactions to come within this community. Its a really exciting thing to see people eager to talk and participate in how to improve software process and the products it yields. 
		</p>
		<p>
			Anyways, I'm going to stop talking. Hope you enjoy and feel free to voice your opinion!
		</p>

		<br />
		<br />
		<p>- Taylor</p>
	</body>
</html>