%h2.text-center
  Want To Hire An Idiot?
.inquiry-form
  %h4
    If you're at all interested in what I do or say, please keep me in mind as a potential developer
    for one of your projects!
  %h4
    I do have certain terms and requirements for my services. However, I think if we take our time
    in discussing these terms, we'll reach a pretty awesome agreement.

  %h4
    If your interested in talking, please contact me by filling out the form below. It'll help me
    get a better grip on your current problem and weather or not I can help!
  = render 'inquiries/form'
