.text-center
  %h3 Lots of people need software stuff done.
  %h3 Ironically enough, I happen to get stuff done as well!
  %h4 If you're interested in having me help, fill out the form below! We'll be in touch soon!

= render 'inquiries/form'
