<footer class="footer text-center row">
	<a href="https://twitter.com/hiimtaylorjones"><i class="fa fa-twitter fa-3x"></i></a>
  <a href="https://linkedin.com/pub/taylor-jones/73/94b/99/"><i class="fa fa-linkedin fa-3x"></i></a>
  <a href="https://github.com/codedbeardedsignedtaylor"><i class="fa fa-github fa-3x"></i></a>
	<p>Collateral Software - <%= Time.now.year %></p>
</footer>
