<footer class="footer text-center row">
    <a href="https://twitter.com/hiimtaylorjones"><%= fa_icon "twitter 3x" %></a>
    <a href="https://linkedin.com/pub/taylor-jones/73/94b/99/"><%= fa_icon "linkedin 3x" %></a>
    <a href="https://github.com/codedbeardedsignedtaylor"><%= fa_icon "github 3x" %></a>
	<p>Collateral Software - <%= Time.now.year %></p>
</footer>