<nav class="nav">
  <div class="nav-content level">
    <div class="level-left">
      <%= link_to "Hi, I'm Taylor Jones", root_path, class: "nav-item logo" %>
    </div>

    <div class="level-right nav-menu">
      <%= link_to "About", about_path, class: "nav-item" %>
      <% if admin_signed_in? %>
        <%= link_to "Admin Panel", admin_path, class: "nav-item" %>
        <%= link_to "Sign Out", destroy_admin_session_path, method: :delete, class: "nav-item"%>
      <% end %>
    </div>
  </div>
</nav>
